<a href="#bottom" id="top">click here to jump to the bottom of the page</a>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<a href="#top" id="bottom">click here to jump to the top of the page</a>