<a href="#bottom">click here to jump to the bottom of the page</a>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p>some text</p> <br>
<p id="bottom">this is bottom of the page</p>