<a href="https://www.google.com/" target="_blank">Google!</a> <br>
<a href="https://search.yahoo.com/" target="_blank">Yahoo!</a><br>
<a href="https://www.bing.com/" target="_blank">Bing!</a><br>
<a href="https://duckduckgo.com/" target="_blank">DuckDuckGo!</a> <br>
<a href="https://www.amazon.com/" target="_blank">Amazon!</a>