<a href="https://www.google.com/" target="_blank">Search the web with Google!</a> <br>
<a href="https://search.yahoo.com/">Search the web with Yahoo!</a><br>
<a href="https://www.bing.com/">Search the web with Bing!</a><br>
<a href="https://duckduckgo.com/">Search the web with DuckDuckGo!</a> <br>