<ol>
    <li>HTML adalah singkatan dari Hypertext Markup Language. ... HTML memungkinkan seorang user untuk membuat dan menyusun bagian paragraf, heading, link atau tautan, dan blockquote untuk halaman web dan aplikasi.Oct 1, 2020</li>
    <li>Git adalah version control system yang digunakan para developer untuk mengembangkan software secara bersama-bersama. Fungsi utama git yaitu mengatur versi dari source code program anda dengan mengasih tanda baris dan code mana yang ditambah atau diganti.</li>
    <li>Internet adalah suatu jaringan komunikasi yang menghubungkan satu media elektonik dengan media yang lainnya. Standar teknologi pendukung yang dipakai secara global adalah Transmission Control Protocol atau Internet Protocol Suite (disingkat sebagai istilah TCP/IP)</li>
    <li>Smartphone adalah telepon genggam yang mempunyai kemampuan tingkat tinggi, kadang-kadang dengan fungsi yang menyerupai komputer. ... Bagi beberapa orang, smartphone merupakan telepon yang bekerja menggunakan seluruh perangkat lunak sistem operasi yang menyediakan hubungan standar dan mendasar bagi pengembang aplikasi.</li>
    <li>CSS adalah singkatan dari Cascading Style Sheets. Jika diterjemahkan ke bahasa Indonesia secara harfiah, CSS berarti “lembar penataan menurun”. Namun secara konteks, Cascading Style Sheets adalah kumpulan perintah yang digunakan untuk menjelaskan tampilan sebuah halaman situs web dalam mark-up language. Mark-up language atau bahasa markah adalah bahasa pemrograman yang biasanya digunakan membuat website.</li>
</ol>