<p>
    &nbsp; Selain memiliki harga yang murah dan sangat cocok untuk kantong kalangan kelas menengah kebawah, mobil Daihatu ini juga memiliki perfoma mesin yang cukup tangguh, bandel serta irit bahan bakar. Selain itu suku cadang untuk mobil-mobil dengan merek daihatsu ini sangat mudah dijumpai dan memiliki harga yang cukup terjangkau. Hal seperti ini juga manjadikan mobil-mobil dari daihatsu menjadi pilihan utama masyarakat Indonesia, selain memiliki harga yang relatif murah, ketangguhan mesin dari Daihatsu juga tidak kalah dengan mobil-mobil kelas atas yang memiliki harga yang cukup mahal.
</p>
<p>
    &nbsp; Salah satu merek mobil terpopuler dan terbesar dunia berikutnya adalah Daihatsu. Daihatsu juga merupakan perusahaan penghasil mobil tertua di Jepang, Daihatsu sendiri dikenal dengan mobil-mobilnya yang memiliki ukuran kecil. Di Indonesai Dahatsu merupakan sebuah perusahan otomotif terbesar dan memiliki banyak konsumen serta menjadi salah satu produsen mobil keluarga terbaik di Indonesia. Hal ini di buktikannya dengan penjualan mobil-mobili keluarga seperti Daihatsu Xenia dan Daihatsu Alya yang laris manis dipasaran.
</p>