<h1>5 Alasan Untuk Kuliah di Swedia</h1>
<hr>
<p>
    1. Swedia terkenal akan inovasi dan kreativitasnya <br>
    Mungkin kamu tidak sadar kalau banyak penemuan modern berasal dari Swedia. Beberapa penemuan dari Swedia yang terkenal adalah teknologi Bluetooth, mouse komputer, Skype, dan Spotify. Penemuan ini dihasilkan karena Swedia sangat menghargai kreativitas dan inovasi.
    Selain itu, Swedia juga memiliki perusahaan - perusahaan kelas dunia, antara lain Ericsson, Volvo, Ikea, Electrolux, dan banyak lagi.
    Bayangkan jika kamu kuliah di Swedia, maka kamu mungkin dapat menjadi bagian dari penemuan hebat yang berguna bagi dunia. Lingkungan belajar di Swedia mendorong imajinasi pelajar untuk menggali ide dan terus berkarya, ditambah lagi kamu akan dikelilingi oleh perusahaan dan orang-orang yang paling inovatif di dunia.
</p>